<div class="product__header">

  <h3 class="product__title h2">{{ 'general.onboarding.product_title' | t }}</h3>

  <span class="product__price text-size--larger">

    <span>
    	<span class="product__price--original">{{ 1999 | money }}</span>
    	<span class="product__price--compare">
        {{ 2999 | money }}
      </span>
    </span>

  </span>

</div>