<div {% unless section.settings.full_width %} class="ten-tenths lap--twelve-tenths push-left-one-tenth lap--push-left-padding" {% endunless %}>
  {{ section.settings.custom_liquid }}
</div>

{% schema %}
{
  "name": "t:sections.refactor_words.custom_code.name",
  "tag": "section",
  "class": "section-w-margin custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.highlight-extra-words.layout.full_width.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.refactor_words.custom_code.name"
    }
  ]
}
{% endschema %}