{%- if shop.password_message != blank -%}
  <div class="rich-text rich-text--center-align rich-text--regular">
    <div class="ten-tenths lap--full-width push-left-one-tenth lap--push-left-none push-right-one-tenth lap--push-right-none">
      <p>{{ shop.password_message }}</p>
    </div>
  </div>
{%- endif -%}

{% schema %}
	{
    "name": "t:sections.main-password-content.name",
    "class": "section-w-margin section-w-mobile-padding"
  }
{% endschema %}