@media screen and (min-width: 1365px) {
  #CartTotal {
    font-size: calc(24px / 18 * var(--base-body-size) + 0px);
    line-height: 1.11;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1365px) {
  #CartTotal {
    font-size: calc(24px / 18 * var(--base-body-size) + 0px);
    line-height: 1.11;
  }
}
@media screen and (min-width: 599px) and (max-width: 1023px) {
  #CartTotal {
    font-size: calc(22px / 18 * var(--base-body-size) + 0px);
    line-height: 1.11;
  }
}
@media screen and (max-width: 599px) {
  #CartTotal {
    font-size: calc(20px / 18 * var(--base-body-size) + 0px);
    line-height: 1.11;
  }
}

@media screen and (min-width: 1365px) {
  #CartTotal + .info, #cartSpecialInstructions {
    font-size: calc(18px / 18 * var(--base-body-size) + 0px);
    line-height: 1.4;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1365px) {
  #CartTotal + .info, #cartSpecialInstructions {
    font-size: calc(18px / 18 * var(--base-body-size) + 0px);
    line-height: 1.4;
  }
}
@media screen and (min-width: 599px) and (max-width: 1023px) {
  #CartTotal + .info, #cartSpecialInstructions {
    font-size: calc(18px / 18 * var(--base-body-size) + 0px);
    line-height: 1.4;
  }
}
@media screen and (max-width: 599px) {
  #CartTotal + .info, #cartSpecialInstructions {
    font-size: calc(16px / 18 * var(--base-body-size) + 0px);
    line-height: 1.4;
  }
}

@media screen and (min-width: 1365px) {
  .cart-item .info {
    font-size: calc(16px / 18 * var(--base-body-size) + 0px);
    line-height: 1.1;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1365px) {
  .cart-item .info {
    font-size: calc(16px / 18 * var(--base-body-size) + 0px);
    line-height: 1.1;
  }
}
@media screen and (min-width: 599px) and (max-width: 1023px) {
  .cart-item .info {
    font-size: calc(16px / 18 * var(--base-body-size) + 0px);
    line-height: 1.1;
  }
}
@media screen and (max-width: 599px) {
  .cart-item .info {
    font-size: calc(14px / 18 * var(--base-body-size) + 0px);
    line-height: 1.1;
  }
}

@media screen and (min-width: 1365px) {
  .cart-item .item__unit,
  .cart-item .item__properties, .cart-item .info.selling-plan {
    font-size: calc(14px / 18 * var(--base-body-size) + 0px);
    line-height: 1.1;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1365px) {
  .cart-item .item__unit,
  .cart-item .item__properties, .cart-item .info.selling-plan {
    font-size: calc(14px / 18 * var(--base-body-size) + 0px);
    line-height: 1.1;
  }
}
@media screen and (min-width: 599px) and (max-width: 1023px) {
  .cart-item .item__unit,
  .cart-item .item__properties, .cart-item .info.selling-plan {
    font-size: calc(14px / 18 * var(--base-body-size) + 0px);
    line-height: 1.1;
  }
}
@media screen and (max-width: 599px) {
  .cart-item .item__unit,
  .cart-item .item__properties, .cart-item .info.selling-plan {
    font-size: calc(12px / 18 * var(--base-body-size) + 0px);
    line-height: 1.1;
  }
}

.cart-item {
  display: flex;
  margin: var(--cart-margin) 0 0;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.cart-item > div {
  display: flex;
  align-items: center;
}
.cart-item .title {
  display: block;
  line-height: 1.1;
  font-weight: var(--font-weight-body-bold);
}
.cart-item .info {
  color: rgba(var(--color-text-rgb), 0.66);
  display: block;
  margin-top: 7px;
  word-break: break-word;
}
.sidebar .cart-item .info.quantity-extra {
  display: none;
}
.cart-item .item__unit,
.cart-item .item__properties {
  margin-top: 0;
  display: block;
}
.cart-item .item__properties {
  margin-top: 10px;
}
.cart-item .item__price-list {
  margin-top: 10px;
}
.cart-item .item__property {
  margin-top: 5px;
}
.cart-item .item__price {
  font-weight: var(--font-weight-body-bold);
}
.cart-item .item__price:not(:last-child) {
  margin-inline-end: 5px;
}
.cart-item .item__price--compare {
  text-decoration: line-through;
  color: rgba(var(--color-text-rgb), 0.66);
  font-weight: var(--font-weight-body);
}
.remove-process.cart-item {
  opacity: 0.3;
  pointer-events: none;
}
.cart-item .thumbnail {
  display: block;
  width: 100px;
  position: relative;
  flex-shrink: 0;
  margin-inline-end: 25px;
}
.cart-item .actions {
  display: flex;
  align-items: center;
}
.cart-item .actions input {
  width: 34px;
  height: 34px;
  border: 1px solid rgba(var(--color-text-rgb), var(--color-borders-opacity));
  background: var(--color-background);
  margin: 0 14px 0;
  padding: 0;
  text-align: center;
  font-size: calc(14px / 18 * var(--base-body-size) + 0px);
  line-height: 34px;
}
.cart-item .actions .remove {
  height: 19px;
  cursor: pointer;
}
.cart-item .actions .remove path {
  fill: var(--color-text);
}
@media screen and (max-width: 599px) {
  .cart-item .thumbnail {
    width: 80px;
    margin-inline-end: 20px;
  }
}
.cart-item img {
  clip-path: none !important;
  -webkit-clip-path: none !important;
  animation: none !important;
  transform: none !important;
  opacity: 1 !important;
}

.cart {
  width: 100%;
}
.cart-continue {
  display: none;
}
.sidebar .cart-out {
  position: sticky;
  bottom: 0;
  background: var(--color-background);
  padding-top: 20px;
}
.sidebar .cart-out .buttons-holder {
  margin-top: 0;
  gap: 10px;
}
.sidebar .cart-out .buttons-holder .button {
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 6px;
}
.sidebar .cart-out:before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(var(--color-background-rgb), 1) 5px, rgba(var(--color-background-rgb), 0.3) 25px, rgba(var(--color-background-rgb), 0));
  width: 100%;
  height: 50px;
  top: -50px;
  pointer-events: none;
}
.sidebar .cart-out:after {
  content: "";
  position: absolute;
  background: var(--color-background);
  width: 100%;
  height: 40px;
  pointer-events: none;
}
@media screen and (max-width: 1023px) {
  .sidebar .cart-out:after {
    height: 30px;
  }
}
.cart__footer.cart--empty textarea, .cart__footer.cart--empty .cart-out {
  display: none;
}
.cart__footer.cart--empty .cart-continue,
.cart__footer.cart--empty + .cart-continue {
  display: block;
}
.sidebar .cart__footer.cart--empty .cart-continue,
.sidebar .cart__footer.cart--empty + .cart-continue {
  margin-top: 2em;
}
.cart-out {
  margin-top: var(--cart-margin);
}
.cart.processing > .cart-holder {
  opacity: 0.16;
  pointer-events: none;
}

.template-cart .cart-holder[data-items="0"] {
  margin-top: var(--cart-margin);
}

#cartSpecialInstructions {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(var(--color-text-rgb), var(--color-borders-opacity));
  background: var(--color-background);
  margin: var(--cart-margin) 0 0;
  padding: 14px;
}

#CartSubTotal {
  margin-bottom: 0.7em;
}

#CartDiscounts {
  color: rgba(var(--color-text-rgb), 0.66);
  margin-bottom: 2.5em;
}

#CartTotal {
  margin-bottom: 0.5em;
  font-weight: var(--font-weight-body-bold);
}
#CartTotal + .info {
  display: block;
  color: rgba(var(--color-text-rgb), 0.66);
}

.additional-checkout-buttons {
  width: 100%;
  margin-top: 15px;
}
.additional-checkout-buttons div {
  border-radius: 0 !important;
}

.template-cart .cart-actions {
  max-width: 500px;
}

.template-cart .cart-actions--additional-checkout-buttons {
  flex-flow: column;
  max-width: 600px;
}
.template-cart .cart-actions--additional-checkout-buttons .additional-checkout-buttons {
  margin-top: -18px;
}
.template-cart .cart-actions--additional-checkout-buttons .additional-checkout-buttons ul li {
  margin-top: 14px !important;
}

.item__properties:empty {
  display: none;
}

#cart-page-form cart-form, #cart-page-form #AjaxCartSubtotal {
  display: block;
  width: 100%;
}
#cart-page-form .alert {
  margin-top: 2em;
}

.template-cart #ViewCart {
  display: none;
}

/* join waitlist starts here */

.waitlist-form {
  margin-top: 20px;
  font-family: 'tenon', sans-serif;
}
.waitlist-form h3 {
  font-size: 25px;
  font-weight: 500;
}
.waitlist-form input[type="email"] {
  font-weight: 500;
  font-family: 'tenon', sans-serif;
}
.waitlist-form button {
  display: block;
  color: #63CBA3; 
  margin-top: -20px;
  font-weight: 500 !important
}