.image-with-text {
  align-items: center;
}
.image-with-text--right-alignment {
  flex-direction: row;
}
@media screen and (min-width: 599px) and (max-width: 1023px) {
  .image-with-text--right-alignment .image-with-text__content {
    margin-inline-start: calc(var(--grid-width) / 12 * 1);
  }
}
.image-with-text--left-alignment {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media screen and (min-width: 599px) and (max-width: 1023px) {
  .image-with-text--left-alignment .image-with-text__image {
    margin-inline-start: calc(var(--grid-width) / 12 * 1);
  }
}
.image-with-text__description, .image-with-text__button {
  margin-bottom: 3em;
  strong {
    font-weight: 600;
  }
}
@media screen and (max-width: 599px) {
  .image-with-text__image {
    margin-bottom: 2em;
  }
  .image-with-text__description, .image-with-text__button {
    margin-bottom: 2em;
  }
}
.image-with-text__content > *:last-child {
  margin-bottom: 0 !important;
}

.image-with-text__heading.h2 {
  font-size: 48px !important;
  line-height: 110% !important;
}

@media screen and (max-width: 599px) {
  .image-with-text__heading.h2 {
    font-size: 48px !important;
  }