.password {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.password .newsletter-form {
  margin-top: 1em;
}

#shopify-section-main-password-header {
  text-align: center;
}

.main-password-header h1 {
  margin: 6em 0 4em;
}

.password.page-content .section-w-margin {
  margin-bottom: calc(var(--section-margin) / 2);
}
.password.page-content .section-w-margin:empty {
  display: none;
}

.password-login {
  position: absolute;
  top: 0;
  font-size: 15px;
  margin: 40px 60px 0 0;
}
html[dir=rtl] .password-login {
  left: 0;
}
html[dir=ltr] .password-login {
  right: 0;
}
html[dir=rtl] .password-login {
  padding-left: 40px;
}
html[dir=ltr] .password-login {
  padding-right: 40px;
}
.password-login .symbol {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
}
html[dir=rtl] .password-login .symbol {
  left: 0px;
}
html[dir=ltr] .password-login .symbol {
  right: 0px;
}
.password-login .symbol * {
  stroke: var(--color-text);
}

.password-input-group {
  max-width: 425px;
  margin: 70px auto 35px;
}
.password-input-group > input {
  width: 100%;
  margin-bottom: 0;
}
.password-input-group .button {
  margin-top: 20px;
}

.login-modal {
  text-align: center;
}

.password-footer {
  text-align: center;
  padding-bottom: 40px;
  opacity: 0.36;
  margin-top: 24px;
}

.template-password .basicLightbox__placeholder {
  opacity: 1;
  padding: 40px;
  background: var(--color-background);
}
.template-password .basicLightboxClose {
  color: var(--color-text);
  opacity: 1;
}